{% extends "user_layout.html" %}

{% block body %}
<br></br><br></br><br></br>

<div style="max-width: 10000px; background-color: #f5f5f5; padding: 20px; border-radius: 10px; overflow-x: auto;">
    <form action="{{ url_for('search_results') }}" method="post">
        <h3>RESULTS</h3>
        {% if results %}
            <div style="height: 400px; overflow-y: scroll;">
                <table class="table table-striped">
                    <tbody>
                        {% for result in results %}
                            {{result}}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </form>
</div>
{% endblock %}