{% extends "user_layout.html" %}

{% block body %}
<br></br><br></br><br></br>
<div style="max-width: 500px; margin: auto; background-color: #f5f5f5; padding: 20px; border-radius: 10px;">
    <form action="{{ url_for('book_operations') }}" method="post">
        
        {% if role == "School Admin" %}
        <h5>Want to borrow this book?</h5>
        <div class="form-group">
            <input class="form-control" type="text" name="student_id" placeholder="Student ID">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Request borrowing</button>
        </div>
        {% else %}

        <h5>Want to reserve this book?</h5>
        <div class="form-group">
            <input class="form-control" type="text" name="date" placeholder="Reservation Date(Pick up)">
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Request reservation</button>
        </div>

        <div class="rating"> <h5>MyRating :
            <input type="radio" id="star5" name="rating" value="5"/>
            <label for="star5"><i class="fas fa-star" style="color: yellow;"></i></label>
            <input type="radio" id="star4" name="rating" value="4"/>
            <label for="star4"><i class="fas fa-star"></i></label>
            <input type="radio" id="star3" name="rating" value="3"/>
            <label for="star3"><i class="fas fa-star"></i></label>
            <input type="radio" id="star2" name="rating" value="2"/>
            <label for="star2"><i class="fas fa-star"></i></label>
            <input type="radio" id="star1" name="rating" value="1"/>
            <label for="star1"><i class="fas fa-star"></i></label>
        </h5> 
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="review_text" placeholder="Did you like the book? Tell us about it :)">
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Submit</button>
        </div>
        {% endif %}
        {% if reviews %}
        <h5>Reviews</h5>
        {% for review in reviews %}
            {% if review[4] %}
                <p>{{ review[1] }} : 
                {{ review[4] }} /5 
                {% if review[5] %} : {{ review[5] }} {% endif %}</p>
            {% else %}
                <p>{{ review[1] }} : {{ review[5] }}</p>
            {% endif %}
        {% endfor %}
        {% endif %}
        {% if message %}
        <div style="display: flex; height: 100%;">
            <span style="background-color: #c990eb; color: black; padding: 10px; border-radius: 10px;">
                {{ message }}
            </span>
        </div> 
        {% endif %}
    </form>
</div>
{% endblock %}