{% extends "user_layout.html" %}

{% block body %}
<br></br><br></br>
<div style="max-width: 800px; margin: auto; background-color: #f5f5f5; padding: 20px; border-radius: 10px;">
    <form action="{{ url_for('my_issues') }}" method="post">
        <div style="height: 450px; overflow-y: scroll;">
        {% if user_borrowings %}
                <h5>My Borrowings</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Book Title</th>
                            <th>Return Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for issue in user_borrowings %}
                            <tr>
                                <td style="white-space: nowrap;">{{ issue.date }}</td>
                                <td style="white-space: nowrap;">{{ issue.title }}</td>
                                <td style="white-space: nowrap;">{{ issue.issue_date }}</td>
                                {% if user_name == "school_admin" %}
                                <td style="white-space: nowrap;"><a href="{{ url_for('cancel_issue', issue_id=issue.report_id) }}">Returned</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        {% else %}
            <h5>No Borrowings</h5>
        {% endif %}
        {% if user_reservations %}
                <h5>My Reservations</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Book Title</th>
                            <th>Reservation Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for issue in user_reservations %}
                            <tr>
                                <td style="white-space: nowrap;">{{ issue.date }}</td>
                                <td style="white-space: nowrap;">{{ issue.title }}</td>
                                <td style="white-space: nowrap;">{{ issue.issue_date }}</td>
                                <td style="white-space: nowrap;"><a href="{{ url_for('cancel_issue', issue_id=issue.report_id) }}">Cancel</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        {% else %}
            <h5>No Reservations</h5>
        {% endif %}
        {% if rating_approvals %}
                <h5>Rating Approvals</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Book ID</th>
                            <th>Rating</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for issue in rating_approvals %}
                            <tr>
                                <td style="white-space: nowrap;">{{ issue.book_id }}</td>
                                <td style="white-space: nowrap; color:rgb(20, 146, 146);">{{ issue.rating }} to 5</td>
                                <td style="white-space: nowrap;">{{ issue.review_text }}</td>
                                <td style="white-space: nowrap;"><a href="{{ url_for('my_issues', rating_id=issue.report_id) }}">Approve</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        {% else %}
            <h5>No Rating Approvals</h5>
        {% endif %}
        <p style="color:green;">{{ message }}</p>
        </div>
    </form>
</div>
{% endblock %}