{% extends "user_layout.html" %}

<form action="{{ url_for('my_issues') }}" method="post" style="overflow-y: scroll;">
{% block body %}
        {% if user_borrowings %}
        <div style="max-width: 1000px; margin: auto; background-color: #f5f5f5; padding: 20px; border-radius: 10px; height: 250px; overflow-y: scroll;">
                <h5>My Borrowings</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Student ID</th>
                            <th>Date</th>
                            <th>Book Title</th>
                            <th>Return Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for issue in user_borrowings %}
                            <tr>
                                <td style="white-space: nowrap;">{{ issue[1] }}</td>
                                <td style="white-space: nowrap;">{{ issue[4] }}</td>
                                <td style="white-space: nowrap;">{{ issue[3] }}</td>
                                <td style="white-space: nowrap;">{{ issue[5] }}</td>
                                {% if role == "School Admin" or role == "Admin" %}
                                <td style="white-space: nowrap;"><a href="{{ url_for('cancel_issue', issue_id=issue[0]) }}">Returned</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
        {% endif %}
        <br></br>
        {% if user_reservations %}
        <div style="max-width: 1000px; margin: auto; background-color: #f5f5f5; padding: 20px; border-radius: 10px; height: 250px; overflow-y: scroll;">
                <h5>My Reservations</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Student ID</th>
                            <th>Date</th>
                            <th>Book Title</th>
                            <th>Reservation Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for issue in user_reservations %}
                            <tr>
                                <td style="white-space: nowrap;">{{ issue[1] }}</td>
                                <td style="white-space: nowrap;">{{ issue[4] }}</td>
                                <td style="white-space: nowrap;">{{ issue[3] }}</td>
                                <td style="white-space: nowrap;">{{ issue[5] }}</td>
                                <td style="white-space: nowrap;"><a href="{{ url_for('cancel_issue', issue_id=issue[0]) }}">Cancel</td>
                                {% if role == "School Admin" or role == "Admin" %}
                                <td style="white-space: nowrap;"><a href="{{ url_for('borrowed_issue', issue_id=issue[0]) }}">Borrowed</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
        {% endif %}
         <br></br>
        {% if rating_approvals %}
        <div style="max-width: 1000px; margin: auto; background-color: #f5f5f5; padding: 20px; border-radius: 10px; height: 100px; overflow-y: scroll;">
                <h5>Rating Approvals</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Student ID</th>
                            <th>Book ID</th>
                            <th>Title</th>
                            <th>Rating</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for issue in rating_approvals %}
                            <tr>
                                <td style="white-space: nowrap;">{{ issue[1] }}</td>
                                <td style="white-space: nowrap;">{{ issue[2] }}</td>
                                <td style="white-space: nowrap;">{{ issue[3] }}</td>
                                <td style="white-space: nowrap; color:rgb(20, 146, 146);">{{ issue[4] }} to 5</td>
                                <td style="white-space: nowrap;">{{ issue[5] }}</td>
                                <td style="white-space: nowrap;"><a href="{{ url_for('my_issues', rating_id=issue[0]) }}">Approve</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
        {% endif %}
        <p style="color:green;">{{ message }}</p>
{% endblock %}
</form>
