<!DOCTYPE html>
<html>
    <head>
        <title>BOOKreviews</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    </head>
    <body style="height:100%; background-image: url('/static/library.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
        <header style="background-color: rgb(102, 102, 102); padding: 15px; text-align: center; font-size: 25px; color:white;">
            <div class="d-flex justify-content-start align-items-center">
              <h1 style="margin-right: 1rem;">Welcome back {{ user_name }}!</h1>
              <div class="d-flex align-items-center">
                <a href="{{ url_for('home', user_name=user_name) }}" class="btn btn-success mr-2">Home</a>
                <a href="{{ url_for('my_profile') }}" class="btn btn-success mr-2">MyProfile</a>
                {% if user_name == "school_admin" %}
                <a href="{{ url_for('users') }}" class="btn btn-success mr-2">Users</a>
                <a href="{{ url_for('my_issues') }}" class="btn btn-success mr-2">Issues</a>
                <a href="{{ url_for('lateBorrowings') }}" class="btn btn-success mr-2">Late Borrowings</a>
                <a href="{{ url_for('ratings') }}" class="btn btn-success mr-2">Ratings</a>
                {% else %}
                <a href="{{ url_for('my_issues') }}" class="btn btn-success mr-2">MyBooks</a>
                {% endif %}
              </div>
            </div>
          </header>                                

        <div class="container mx-auto" style="min-height: 100%;position: relative;">
            {% block body %}
            {% endblock %}
        </div>
        <footer style="background-color: rgb(102, 102, 102); padding: 10px; text-align: right; color: white; position: absolute; bottom: 0; width: 100%; height: 60px;">
            <a class="btn btn-outline-danger" href="{{ url_for('logout') }}" style="background-color: red; color: white; border-color: red;">Logout</a>
        </footer>
    </body>
</html>